{% extends 'base.html.twig' %}

{% block title %}Competences index{% endblock %}


{% block body %}
    <h1>Competences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>NiveauCompetence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.nom }}</td>
                <td>{{ competence.filename }}</td>
                <td>{{ competence.niveauCompetence }}</td>
                <td>
                    <a href="{{ path('competences_show', {'id': competence.id,"lang": app.request.get("lang")}) }}">show</a>
                    <a href="{{ path('competences_edit', {'id': competence.id,"lang": app.request.get("lang")}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competences_new',{"lang": app.request.get("lang")}) }}">Create new</a>
{% endblock %}
