{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-4 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a
                                    href="{{ path('home',{"lang": app.request.get("lang")}) }}">{{ translate('nav_homePage') }} <i
                                        class="fa fa-chevron-right"></i></a></p>
                    <h1 class="mb-0 bread">{{ translate('nav_realisation') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-project">
        <div class="container">
            <div class="row">

                {% for produit in produits %}
                <div class="col-md-4">
                    {% if produit.filename != "empty.jpg" %}
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ vich_uploader_asset(produit,"imageFile") }});">
                        {% else %}
                        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(http://via.placeholder.com/1000x600);">
                            {% endif %}
                            <div class="overlay"></div>
                            <div class="text text-center p-4">
                                <h3><a href="#">{{ produit.nom }}</a></h3>
                                <span>{{ produit.prix }} €</span>
                                <a class="btn btn-primary d-block px-2 py-3" onclick="addToBasket({{ produit.id }})">Ajouter au panier</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>

                {{ knp_pagination_render(produits) }}

            </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        async function addToBasket(productId){
            const value = await swal("Veuillez entrer une quantité", {
                content: "input",
            });

            if (value > 0 && Number.isInteger(parseInt(value)) && Number.isInteger(parseInt(productId))){
                swal(`You typed: ${value}`);
                let data = {
                    productId,
                    value
                };
                sendAjaxRequest("{{ path('api_addToBasket') | setApiCorrectLinkFormat }}","html",data)
            }else{
                swal('veuillez entrer une valeur positif');
            }
        }
    </script>
{% endblock %}