{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-4 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a
                                    href="{{ path('home',{"lang": app.request.get("lang")}) }}">{{ translate('nav_homePage') }} <i
                                        class="fa fa-chevron-right"></i></a></p>
                    <h1 class="mb-0 bread">{{ translate('nav_Basket') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-project">
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for produit in produits %}
                        <tr>
                        {% for item in produit %}
                            {% set total = total + item.item.prix * item.qte %}
                            <td>{{ item.item.nom }}</td>
                            <td>{{ item.item.prix }}</td>
                            <td>{{ item.qte }}</td>
                            <td><button class="btn btn-primary" style="border-radius: 5px;" onclick="alertBeforePush({{ item.item.id }})">Supprimer</button> </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                Total : {{ total }}
                {% if total > 0 %}
                <div id="paypal-button" ></div>
                {% endif %}
            </div>
    </section>
{% endblock %}
{% block script %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        function alertBeforePush(productId) {
            swal({
                title: "Etes vous sûr ?",
                text: "Voulez vous vraiment supprimer le produit",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        deleteFromBasket(productId)
                    }
                });
        }


        async function deleteFromBasket(productId){
            if (Number.isInteger(parseInt(productId))){
                let data = {
                    productId
                };
                sendAjaxRequest("{{ path('api_deleteFromBasket') | setApiCorrectLinkFormat }}","html",data).then(function (e){
                    alertPlugin("Success","Produit supprimé avec succès","success")
                    setTimeout(function (e){
                        document.location.href = document.location;
                    },1500);
                }).catch(function(e){
                    swal('Erreur interne');
                })
            }else{
                swal('Erreur interne');
            }
        }


        paypal.Button.render({
            env: 'sandbox',
            commit: true,
            locale: 'fr_FR',
            style: {
                size: 'medium',
                color: 'white',
                shape: 'rect',
                label: 'checkout',
                tagline: 'true'
            },
            payment: function () {
                return paypal.request.post('{{ path('api_paypal_setup') }}').then(function (data) {
                    return data.id;
                });
            },
            onAuthorize: function (data, actions) {
                return paypal.request.post('{{ path('api_paypal_confirm') }}', {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function (data) {
                    if (data === 400) {
                        alertPlugin("Erreur", "INTERNAL SERVER ERROR : Veuillez contacter le support ", "error");
                    } else {
                        alertPlugin("Succès Paiement", " Le paiement a été validé. Id de paiement : "+ data.paymentID +". L'id de votre compte Paypal : " + data.payerID, "success");

                    }
                }).catch(function (err) {
                    console.log('erreur', err);
                    alertPlugin("Erreur Paiement", " Le paiement n'a pas été validé. Veuillez retenter le paiement. Si malgré cela le paiement ne fonctionne toujours pas veuillez contacter le support   ", "error");
                });
            }
        }, '#paypal-button');
    </script>
{% endblock %}