{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-4 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a
                                    href="{{ path('home',{"lang": app.request.get("lang")}) }}">{{ translate('nav_homePage') }} <i
                                        class="fa fa-chevron-right"></i></a></p>
                    <p style="color: rgba(0, 0, 0, 0.4) !important;"> {{ translate("alertTest")}} </p>
                    <h1 class="mb-0 bread">{{ translate('nav_Basket') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-project">
        <div class="container">
            <div class="row">
                <strong>
                    {{ translate('identifiant') }} : <br/>
                    Email : sb-safa23533798@business.example.com <br/>
                    {{ translate('password') }} : 7/JpV0Oe
                </strong>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{{ translate("product") }}</th>
                        <th scope="col">{{ translate("price") }}</th>
                        <th scope="col">{{ translate("quantity") }}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for produit in produits %}
                        <tr>
                        {% for item in produit %}
                            {% set total = total + item.item.prix * item.qte %}
                            <td>{{ item.item.nom }}</td>
                            <td>{{ item.item.prix }}</td>
                            <td>{{ item.qte }}</td>
                            <td><button class="btn btn-primary" style="border-radius: 5px;" onclick="alertBeforePush({{ item.item.id }})">{{ translate("delete") }}</button> </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p align="center" style="font-weight: bold;">{{ translate("total") }} : {{ total }} €</p>
                {% if total > 0 %}
                    <div id="paypal-button" ></div>
                {% endif %}
            </div>
    </section>
{% endblock %}
{% block script %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        function alertBeforePush(productId) {
            swal({
                title: "{{ translate("AreYouSure") }}",
                text: "{{ translate("SureDeleteProduct") }}",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        deleteFromBasket(productId)
                    }
                });
        }


        async function deleteFromBasket(productId){
            if (Number.isInteger(parseInt(productId))){
                let data = {
                    productId
                };
                sendAjaxRequest("{{ path('api_deleteFromBasket') | setApiCorrectLinkFormat }}","html",data).then(function (e){
                    alertPlugin("Success","{{translate('productDeleteSuccess')}}","success")
                    setTimeout(function (e){
                        document.location.href = document.location;
                    },1500);
                }).catch(function(e){
                    swal('{{ translate("internalError") }}');
                })
            }else{
                swal('{{ translate("internalError") }}');
            }
        }


        paypal.Button.render({
            env: 'sandbox',
            commit: true,
            locale: 'fr_FR',
            style: {
                size: 'medium',
                color: 'white',
                shape: 'rect',
                label: 'checkout',
                tagline: 'true'
            },
            payment: function () {
                return paypal.request.post('{{ path('api_paypal_setup') }}').then(function (data) {
                    return data.id;
                });
            },
            onAuthorize: function (data, actions) {
                return paypal.request.post('{{ path('api_paypal_confirm') }}', {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function (data) {
                    if (data === 400) {
                        alertPlugin("Erreur", "{{ translate('internalError') }}", "error");
                    } else {
                        alertPlugin("{{translate("paymentSuccess")}}", " Le paiement a été validé. Id de paiement : "+ data.paymentID +". L'id de votre compte Paypal : " + data.payerID, "success");
                    }
                }).catch(function (err) {
                    console.log('erreur', err);
                    alertPlugin("{{translate("paymentError")}}", " {{ translate("paymentNotValid") }}", "error");
                });
            }
        }, '#paypal-button');
    </script>
{% endblock %}