{% extends "base.html.twig" %}
{% block body %}
    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-4 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a
                                    href="{{ path('home',{"lang": app.request.get("lang")}) }}">{{ translate('homePage',app.request.get('lang')) }} <i
                                        class="fa fa-chevron-right"></i></a></p>
                    <h1 class="mb-0 bread">{{ translate('moreAboutMe',app.request.get('lang')) }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about-section">
        <div class="container">
            <div class="row g-xl-5">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <div class="row section-counter">
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="counter-wrap">
                                <span class="number"><span class="countup">5000</span></span>
                                <span class="caption">Happy Clients</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="counter-wrap">
                                <span class="number"><span class="countup">1200</span></span>
                                <span class="caption">Projects Done</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="500"
                     data-aos-duration="1000">
                    <div class="mt-5 mt-md-0">
                        <span class="subheading">{{ translate('moreAboutMe',app.request.get('lang')) }}</span>
                        <h2 class="mb-4">{{ translate('desiredProfession',app.request.get('lang')) }}</h2>
                        <p class="">Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts.</p>
                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <ul class="about-info mt-4 px-md-0 px-2">
                                    <li class="d-flex">
                                        <span>{{ translate('nameLabel',app.request.get('lang')) }}:</span>
                                        <span> {{ translate('nameResult',app.request.get('lang')) }}</span></li>
                                    <li class="d-flex">
                                        <span>{{ translate('BirthdayLabel',app.request.get('lang')) }}:</span>
                                        <span> {{ translate('BirthdayResult',app.request.get('lang')) }}</span></li>
                                    <li class="d-flex">
                                        <span>{{ translate('AddressLabel',app.request.get('lang')) }}:</span>
                                        <span> {{ translate('AddressResult',app.request.get('lang')) }}</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="about-info mt-4 px-md-0 px-2">
                                    <li class="d-flex"><span>{{ translate('zipLabel',app.request.get('lang')) }}:</span>
                                        <span>{{ translate('zipResult',app.request.get('lang')) }}</span></li>
                                    <li class="d-flex">
                                        <span>{{ translate('emailLabel',app.request.get('lang')) }}:</span>
                                        <span>{{ translate('email',app.request.get('lang')) }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Download CV</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container-xl">
            <div class="row justify-content-center pb-5">
                <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                    <span class="subheading">{{ translate('skills',app.request.get('lang')) }}</span>
                    <h2 class="mb-5">{{ translate('mySkills',app.request.get('lang')) }}</h2>
                </div>
            </div>
            {% set continue = false %}
            {% for categoryCompetences in categoryCompetence %}
                {% if categoryCompetences.getCompetences | length == 0 %}
                    {% set continue = true %}
                {% endif %}
                {% if not continue %}
                    {{ categoryCompetences.nom }}
                    {% for competences in competence %}
                        {% if competences.competencesCategories.contains(categoryCompetences) %}
                            <div class="row">
                                <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                    <div class="progress-wrap">
                                        <h3>{{ competences.nom }}</h3>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width:{{ competences.niveauCompetence }}%">
                                                <span>{{ competences.niveauCompetence }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}
                {% if continue %}
                    {% set continue = false %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% include ("pages/includes/_footer.html.twig") %}
{% endblock %}