{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-4 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a
                                    href="{{ path('home',{"lang": app.request.get("lang")}) }}">{{ translate('nav_homePage') }} <i
                                        class="fa fa-chevron-right"></i></a></p>
                    <h1 class="mb-0 bread">{{ translate('nav_realisation') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-project">
        <div class="container">
            <div class="row">

                {% for realisation in realisations %}
                    <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#modal_{{ realisation.id}}">
                        {% if realisation.filename != "empty.jpg" %}
                            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ vich_uploader_asset(realisation,"images") }});">
                        {% else %}
                            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(http://via.placeholder.com/1000x600);">
                        {% endif %}
                            <div class="overlay"></div>
                            <div class="text text-center p-4">
                                <span>{{ realisation.titre }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal_{{ realisation.id}}" tabindex="-1" aria-labelledby="modal_{{ realisation.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal_{{ realisation.id}}Label"> {{ realisation.titre }} </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="display: block">
                                    {{ realisation.description | raw }}
                                </div>
                                <div class="modal-footer" style="display: block;text-align: center">
                                    <a href="{{ realisation.lien }}" target="_blank"><span style="color: #d5c455;font-weight: bold">{{ realisation.lien }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

            {{ knp_pagination_render(realisations) }}

        </div>
    </section>
{% endblock %}