{{ form_start(form) }}
    <div class="form-group mb-2">
        <label>Nom :</label>
        {{ form_widget(form.nom) }}
    </div>

    <div class="form-group mb-2">
        <label>Prix :</label>
        {{ form_widget(form.prix) }}
    </div>

    <div class="form-group mb-2">
        <label> Image : </label>
        {{ form_widget(form.imageFile) }}
    </div>

    <div class="form-group mb-2">
        <label> Description : </label>
        {{ form_widget(form.description) }}
    </div>

    <button class="btn btn-primary mb-3 mt-3" style="border-radius: 5px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
