{% extends 'base.html.twig' %}

{% block title %}CompetencesCategories index{% endblock %}

{% block body %}
    <h1>CompetencesCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competences_category in competences_categories %}
            <tr>
                <td>{{ competences_category.id }}</td>
                <td>{{ competences_category.nom }}</td>
                <td>
                    <a href="{{ path('competences_categories_show', {'id': competences_category.id,"lang": app.request.get('lang')}) }}">show</a>
                    <a href="{{ path('competences_categories_edit', {'id': competences_category.id,"lang": app.request.get('lang')}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competences_categories_new',{"lang": app.request.get('lang')}) }}">Create new</a>
{% endblock %}
