<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href="/build/css/animate.css">
    <link rel="stylesheet" href="/build/css/flaticon.css">
    <link rel="stylesheet" href="/build/css/tiny-slider.css">
    <link rel="stylesheet" href="/build/css/glightbox.min.css">
    <link rel="stylesheet" href="/build/css/aos.css">
    <link rel="stylesheet" href="/build/css/style.css">
    <link rel="stylesheet" href="/build/css/feature.css">

    <!-- Font / ScrollTools  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
    <script src="https://kit.fontawesome.com/54309b8d30.js" crossorigin="anonymous"></script>
    <script>
        function alertPlugin(title,content,type){
            swal(title, content, type);
        }
    </script>

    <style>
        .select2-container {
            width: auto !important;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous"/>
    {% block inline_css %}{% endblock %}

    <title>{% block title %}Portfolio {{ translate("ownerFullName")}} {% endblock %}</title>


</head>
<body>
<nav class="navbar ftco-navbar-light"><!-- navbar-expand-lg  -->
    <div class="container-xl">
        <a class="navbar-brand align-items-center" href="{{ path('home') }}">
            <span class="">{{ translate('websiteName') }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "home" %} active {% endif %}" href="{{ path('home') }}">{{ translate('nav_homePage') }}</a></li>
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "about" %} active {% endif %}" href="{{ path('presentation') }}">{{ translate('nav_aboutPage') }}</a></li>
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "realisation" %} active {% endif %}" href="{{ path('realisation') }}">{{ translate('nav_realisation') }}</a></li>
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "experience" %} active {% endif %}" href="{{ path('experience') }}">{{ translate('nav_experiencePage') }}</a></li>
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "parcour" %} active {% endif %}" href="{{ path('parcours') }}">{{ translate('nav_parcour') }}</a></li>
                <li class="nav-item"><a class="nav-link {% if current_menu is defined and current_menu == "boutique" %} active {% endif %}" href="{{ path('boutique') }}">{{ translate('nav_shopPage') }}</a></li>
                <li class="nav-item"><a class="nav-link " href="mailto:{{ translate('email') }}">{{ translate('contactMe') }}</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link active" href="{{ path('logout') }}">{{ translate('nav_logout') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

    {% block body %} {%  endblock %}

<!-- Button trigger modal -->
<button type="button" class="changeLang" data-bs-toggle="modal" data-bs-target="#langChange">
    <i class="fas fa-language fa-3x"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="langChange" tabindex="-1" aria-labelledby="langChangeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="langChangeLabel">Changement de Langue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="customLang" onclick="updateLangSelect('FR')" id="FR">
                    FR
                </div>
                <div class="customLang" onclick="updateLangSelect('EN')" id="EN">
                    EN
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="confirmLangChange()">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

    <!-- JS -->
    <script>
        function sendAjaxRequest(url,dataType,param = null,method = "POST"){
            return $.ajax({
                url: "/api/"+url,
                method: method,
                data: {
                    explode: param
                },
                dataType: dataType,
                async: true
            })
        }
    </script>


    <script src="/build/js/LangController.js"></script>
    <script src="/build/js/bootstrap.bundle.min.js"></script>
    <script src="/build/js/tiny-slider.js"></script>
    <script src="/build/js/glightbox.min.js"></script>
    <script src="/build/js/aos.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/build/js/main.js"></script>
    <script src="/build/js/feature.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>

    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous"></script>
    <script>
        $('select').select2();
    </script>

    <script>
        // Permet de print un resultat donné par l'api
        let currentLang = new LangController();
        function setLang(requiredLang = null,param = {}){
            if (currentLang.getCurrentLang() === null || param['_force'] === true){
                /** SetUp de la langue **/
                if (requiredLang){
                    currentLang.setCurrentLang(requiredLang);
                }else{
                    currentLang.setCurrentLang(currentLang.supportedLang[0]);
                }
                currentLang.setLang();
                /** Mise en place de la langue au niveau de l'api **/
                sendAjaxRequest("{{ path('api_Lang_set') | setApiCorrectLinkFormat }}", "html", {lang: currentLang.getCurrentLang()}).then(function (e) {
                    console.log("Changement de langue effectué avec succès");
                }).catch(function (e) {
                    console.log("erreur");
                    console.log(e);
                })
            }
        }

        sendAjaxRequest("{{ path('api_Lang_get') | setApiCorrectLinkFormat }}", "html").then(function (data) {
            console.log(data);
        });

        // Lancer cette fonction que si il n'y a aucune langue détecté
        if (currentLang.getCurrentLang() === null) {
            setLang();
            setTimeout(function (e){
                document.location.href = document.location;
            },1000)
        }
    </script>

    {% block script %}{% endblock %}
</div>
</body>
</html>
